*{
    font-size: x-large;
}

.barra{
    background-color: blanchedalmond;
    border-radius: 1em;
    padding:5px;
    width:4em;
}

.barra:focus{
    width: 5em;
    transition: 0.4s;
}

.boton{
    margin-top:1em;
    border-radius: 3em;
}

.boton:hover{
    cursor: pointer;
    background-color: yellow;
    
}